.App {
	/* app container dimensions */

	/* alignment */
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	flex-direction: column;

	/* appearance */
	background: #25383c;

	/* font */
	text-align: center;

	color: #dbe4ea;
}

.calculators-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	position: relative;

	height: 42rem;

	transition: gap 0.5s ease-in-out;

	.calculator-ref-container {
		position: absolute;
		padding: 2rem;
		background-color: #1d2d30;
		border-radius: 10px;
		opacity: 0;
		transform: translateX(55%);
		transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;

		.calculator-ref-img {
			display: inline-block;
			min-width: 21rem;
			min-height: 37rem;
			margin: 0;
			padding: 0;
			border: none;
			object-fit: contain;
		}
	}
}

.calculators-container.refImageRendered .Calculator {
	transform: translateX(-55%);
	transition: transform 0.5s ease-in-out;
}
.calculators-container.refImageRendered .calculator-ref-container {
	transform: translateX(55%);
	opacity: 1;
	transition: transform 1s ease-in-out, opacity 0.5s ease-in-out;
}

.render-controller {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5rem;
	button {
		display: flex;
		justify-content: center;
		align-items: center;

		font-family: 'Helvetica', 'Arial', sans-serif;
		color: #dbe4ea;

		width: 15rem;
		height: 3rem;
		text-wrap: wrap;
		background-color: #486c6d;
	}
}
